---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: "Aerius Labs",
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Blog', href: 'https://blog.aeriuslabs.org' }}
    callToAction2={{ text: 'Github', href: 'https://github.com/aerius-labs' }}
    image={{ src: import('~/assets/images/rsz_aerius-blue-trans.png'), alt: 'Aerius Logo'}}
  >
    <Fragment slot="title">
      The <span class="hidden lg:inline">zk chop shop <br /> </span>
      <span class="text-accent dark:text-white highlight"> exploring SNARKs and STARKs  </span> 
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Aerius Labs</span> is working on protocols and tooling for the next wave of scaling and privacy.</span
      >
      <br />
      <span class="block mb-1 sm:hidden font-bold text-blue-600"></span> Zero knowledge proofs are how blockchains scale and become private, and Aerius stands at the forefront of that effort
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  </Layout>
